# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Swap files
*.swp

.DS_Store

# Steampipe variable files
*.spvars
*.auto.spvars

# Powerpipe variable files
*.ppvars
*.auto.ppvars